body {
  margin: 0%;
  background-color: #f5f1e5;
  font-family: Arial, Helvetica, monospace;
}

.errors {
  list-style: none;
  color: red;
  padding: 0px;
}

#footer {
  margin: auto;
  max-width: 1250px;
}

#footer a,
#footer a:visited {
  text-decoration: none;
  color: #023563;
}
