.hidden {
  display: none;
}

.navbar {
  max-width: 1250px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  background-color: #023563;
  border-bottom: 2px solid#e81547;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  /* padding-right: 40px;
  padding-left: 40px; */
}

.navbar a {
  color: #589595;
  text-decoration: none;
  font-size: large;
  /* padding: 5px; */
  /* margin: auto; */
}

.navbar a:hover {
  color: #e81547;
  font-weight: bolder;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: auto; */
  /* margin-right: 30px; */
  width: 30%;
}

.profile-button {
  border: none;
  background-color: #023563;
  padding: auto;
}

.fa-user-circle {
  color: #589595;
  font-size: x-large;
  margin: 10px;
}

.fa-user-circle:hover {
  color: #e81547;
  font-weight: bolder;
}

.theme-button {
  margin-top: 20px;
  margin-left: 10px;
}

.profile-dropdown {
  list-style: none;
  position: relative;
  height: auto;
  width: auto;
  /* margin: auto; */
  /* top: 60px; */
  /* right: 10px; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  border-radius: 5px;
  padding: 1px 10px;
  background-color: #023563;
  /* z-index: 1; */
}

.profile-dropdown li {
  margin-bottom: 3px;
}

.profile-name {
  color: #589595;
}

.nav-button {
  border: solid 2px #589595;
  border-radius: 5%;
  color: #589595;
  background-color: #023563;
}

.publish:hover {
  color: #023563;
  background-color: #589595;
}

.logout:hover {
  color: #023563;
  background-color: #e81547;
  border: #e81547;
}

.fa-seedling {
  font-size: xx-large;
  margin: 10px;
  color: #589595;
}

.fa-seedling:hover {
  /* background-color: #e81547; */
  color: #e81547;
  font-weight: bolder;
}
